div:hover, p:hover, span:hover, h1:hover, td:hover, tr:hover {
  /* box-shadow: 0px 0px 17px 2px rgba(31,44,186,1);
  box-sizing: border-box; */
  /* background-color: lightcoral; */
}

.hovered {
  box-shadow: 0px 0px 17px 2px rgba(31,44,186,1);
  box-sizing: border-box;
}