div.custom-address-bar {
  min-height: 32px;
  width: 100vw;
  left: 0;
  padding-right: 40px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
}
.custom-address-input {
  height: 100%;
  flex-grow: 1;
  background-color: white;
  font-size: 16px;
  border: 1px solid #6899a8;
  border-radius: 5px;
  padding: 5px;
}

.custom-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 500ms ease-out;
}
.custom-button:hover {
  background-color: lightcoral;
}