body {
  margin: 50px;
  margin-top: 150px;
}
.puppeteer-button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.container {
  text-align: center;
}

form.form {
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin: 15px auto;
  justify-content: space-between;
}